doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        form(method='POST')
            Business Activate 
            .form-group
                button.btn.btn-primary(type='submit') Business Activate
