

  
<div class="row">
    <div class="col-md-12">
        <ngx-spinner>Loading......</ngx-spinner>
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary" (click)='addcategory()'>ADD</button>
            </div>
            <div class="card-body">
                <div>
                    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of data">
                                <td>{{category.name}}</td>
                                <td>
                                    <i class="fa fa-eye fa-lg" (click)='categoryDetails(category)'
                                        aria-hidden="true"></i>&nbsp;&nbsp;
                                    <i class="fa fa-pencil fa-lg" aria-hidden="true"
                                        (click)='editcategory(category)'></i>&nbsp;&nbsp;
                                    <i class="fa fa-trash fa-lg" (click)='deletecategory(category._id)'
                                        aria-hidden="true"></i>&nbsp;&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>